{% extends 'base.html' %}

{% block title %}  
creacion de Pacientes
{% endblock %}

{% block content %}
{%  if form  %}
<h1 style="color: white;">Creacion de pacientes</h1>

<form class="text-light" method="POST">
    {% csrf_token %}

    <p>Nombre: <input type="text" name="name"></p>
    <p>Apellido: <input type="text" name="surname"></p>
    <p>Edad: <input type="number" name="age"></p>
    <p>DNI: {{form.dni}}</p>
    <p>Fecha de nacimiento: <input  name="birth_date" placeholder="DD/MM/YYY" type="date"/></p>
    <p>Numero de afiliado: <input type="number" name="affiliate_code"></p>

    <input type="submit" value="Crear Paciente">
</form>


{% else %}
    
    <h1 class="text-success">se creo el paciente exitosamente</h1>
{% endif %}

{% if form_errors %}
<h1>Se encontro un error!</h1>
<h2 style="color: red;" >Errores:</h2>
{{form_errors}}
{% endif %}
{% endblock %}