{% extends 'base.html' %}
{% load static %}
{% block title %}  
creacion de Pacientes
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/styleCreation.css' %}">
{%  if form  %}
<form class="create" method="POST">
    <h1>Creacion de paciente</h1>
    {% csrf_token %}

    <label for="first_name"> 
        Nombre:
        <input type="text" name="name">
    </label>
    <label for="last_name">
        Apellido: 
        <input type="text" name="surname">
    </label>
    <label for="age">
        Edad: 
        <input type="number" name="age">
    </label>
    <label for="Dni">
        DNI:
        {{form.dni}}
    </label>
    <label for="birth_date">
        Fecha de nacimiento:
        <input  name="birth_date" placeholder="DD/MM/YYY" type="date"/>
    </label>
    <label for="affiliate_code">
        Numero de afiliado:
        <input type="number" name="affiliate_code">
    </label>

    <input class="btn btn-success" id="create-btn" type="submit" value="Crear Paciente">
</form>


{% else %}
    
    <h1 class="text-success">se creo el paciente exitosamente</h1>
{% endif %}

{% if form_errors %}
<h1>Se encontro un error!</h1>
<h2 style="color: red;" >Errores:</h2>
{{form_errors}}
{% endif %}

{% endblock %}