{% extends 'base.html' %}
{% block title %}  
Listado de Pacientes
{% endblock %}
{% block navbar %}
<form class="form-inline my-2 my-lg-0 d-flex" action="/list-patients/" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block content %}

<table class="table table-dark table-hover" cellspacing="5" cellpadding="5" border="3">

<tr class="table-active">
    {% if request.user.is_superuser %}
    <td><strong>orden</strong></td>
    {% endif %}
    <td><strong>Nombre</strong></td>
    <td><strong>Apellido</strong></td>
    <td><strong>Edad</strong></td>
    <td><strong>DNI</strong></td>
    <td><strong>Fecha nacimiento</strong></td>
    <td><strong>Nro afiliado</strong></td>
    {% if request.user.is_superuser %}
    <td><strong>actualizar/borrar</strong></td>
    {% endif %}
</tr>
{% for patient in patients %}

<tr>
    {% if request.user.is_superuser %}
    <td><a href="/create-order/{{patient.id}}/" class="btn btn-primary">Crear</a></td>

    <td><a href="/profile/{{patient.id}}/">{{patient.name}}</a></td>
    {% else %}
    <td>{{patient.name}}</td>
    {% endif %}
    <td>{{patient.surname}}</td>

    <td>{{patient.age}}</td>

    <td>{{patient.dni}}</td>

    <td>{{patient.birth_date}}</td>

    <td>{{patient.affiliate_code}}</td>

    {% if request.user.is_superuser %}
    <td>
        <a href="/update-patient/{{patient.id}}/" class="btn btn-primary">Actualizar</a>
        <a href="/delete-patient/{{patient.id}}/" class="btn btn-danger">Eliminar</a>
    </td>
    {% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}