{% extends 'base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<div id="about-container">
    <h1 id="h1-about">About Us</h1>
<div id="about-card" class="card">
    <div class="row g-0">
        <div id="about-img-container" class="col-md-4">
            <img id="about-img" src="https://media.licdn.com/dms/image/D4D03AQFQTaz5RNY-TQ/profile-displayphoto-shrink_200_200/0/1675862702583?e=1681344000&v=beta&t=4tuz3IW0EesNJ8hkoMufhuwgPMHKhdW-UAJULN6jo4s" class="img-fluid rounded-start" alt="...">
        </div>
        <div id="about-info" class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Juan Ignacio Reyes Vega Weiss</h5>
                <p class="card-text">estudiante: CoderHouse Python comisión 34650.
                </p>
                <p class="card-text"><small class="text-muted">CoderHouse</small></p>
            </div>
        </div>
    </div>
</div>
<div id="about-card" class="card">
    <div class="row g-0">
        <div id="about-img-container" class="col-md-4">
            <img id="about-img" src="https://avatars.githubusercontent.com/u/87657275?v=4" class="img-fluid rounded-start" alt="...">
        </div>
        <div id="about-info" class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Luca Cittá Giordano</h5>
                <p class="card-text">Profesor: CoderHouse Python comisión 34650.</p>
                <p class="card-text"><small class="text-muted">CoderHouse</small></p>
            </div>
        </div>
    </div>
</div>
<div id="about-card" class="card">
    <div class="row g-0">
        <div id="about-img-container" class="col-md-4">
            <img id="about-img" src="https://avatars.githubusercontent.com/u/70983593?v=4" class="img-fluid rounded-start" alt="...">
        </div>
        <div id="about-info" class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Emanuel Tevez</h5>
                <p class="card-text">Tutor: CoderHouse Python comisión 34650.</p>
                <p class="card-text"><small class="text-muted">CoderHouse</small></p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}