{% extends 'base.html' %}
{% load static %}
{% block title %}  
creacion de Recetas
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/styleCreation.css' %}">
{% if form %}

<form class="create" method="POST">
    <h1>creacion de Recetas</h1>
    {% csrf_token %}
    <label for="name">
        Nombre del Remedio: 
        {{form.name}}
    </label>
    <label for="dose">
        Dosis indicada en miligramos: 
        {{form.dose}}
    </label>
    <label for="indication_date">
        Fecha de indicacion: 
        <input  name="indication_date" placeholder="DD/MM/YYY" type="date"/>
    </label>
    <label for="diagnostic">
        Diagnostico del Paciente: 
        {{form.diagnostic}}
    </label>
    <label for="number">
        Codigo de la receta: 
        {{form.number}}
    </label>
    
    <input class="btn btn-success" id="create-btn" type="submit" value="Crear Receta">
</form>
{% else %}
<h1 class="text-success">la receta se creo exitosamente</h1>
{% endif %}
{% if form_errors %}
<h1>Se encontro un error!</h1>
<h2 style="color: red;" >Errores:</h2>
{{form_errors}}
{% endif %}
{% endblock %}