{% extends 'base.html' %}

{% block title %}  
Listado de Ordenes
{% endblock %}

{% block navbar %}
<form class="form-inline my-2 my-lg-0" action="/mlist/" method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
{% endblock %}

{% block content %}
    {% for medicine in medicine_list %}
    
        <p>Nombre del Remedio: {{medicine.name}}</p>
        <p>Dosis indicada: {{medicine.dose}}mg</p>
        <p>fecha de indicacion: {{medicine.indication_date}}</p>
        <p>Diagnostico del Paciente: {{medicine.diagnostic}}</p>
        <p>Codigo de la receta: {{medicine.number}}</p>
    
    {% endfor %}
{% endblock %}