{% extends 'base.html' %}
{% block title %}  
creacion de Ordenes
{% endblock %}

{% block content %}

{% if form %}
<h1>creacion de ordenes</h1>

<form class="text-light" method="POST">
    {% csrf_token %}


    <p>Tipo de orden: {{form.order_type}}</p>
    <p>Fecha de indicacion: <input  name="indication_date" placeholder="DD/MM/YYY" type="date"/></p>
    <p>esta completado? {{form.done}}</p>
    <p>descripcion de la orden: {{form.description}}</p>


    <input type="submit" value="Crear Orden">
</form>
{% else %}
<h1 class="text-success">la orden se creo exitosamente</h1>
{% endif %}

{% if form_errors %}
<h1>Se encontro un error!</h1>
<h2 style="color: red;" >Errores:</h2>
{{form_errors}}
{% endif %}

{% endblock %}