{% extends 'base.html' %}
{% load static %}
{% block title %}  
creacion de Ordenes
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/styleCreation.css' %}">

{% if form %}
<h1>creacion de ordenes</h1>
<!-- ARREGLAR EL ORDERS_HTML!!!!! -->
<form class="create" method="POST">
    {% csrf_token %}
    <label for="patient">Paciente:
            <select id="inputState" class="form-control" name="patient">
            <option selected>elegir...</option>
            {% for patient in form.patient %}
                <option>{{patient}}</option>
            {% endfor %}
        </select>
    </label>
    <label for="order_type">Tipo de orden:
        <select id="inputState" class="form-control" name="order_type">
        <option selected>elegir...</option>
            {% for order in form.order_type %}
                <option>{{order}}</option>
            {% endfor %}
    </select>
    </label>
    <label for="indication_date">
        Fecha de indicacion: 
        <input  name="indication_date" placeholder="DD/MM/YYY" type="date"/>
    </label>
    <label for="done">
        orden completa/incompleta 
        {{form.done}}
    </label>
    <label for="description">descripcion de la orden:
        <textarea class="form-control" id="description" rows="3" name="description"></textarea>
    </label>
    
    <input class="btn btn-success" id="create-btn" type="submit" value="Crear Orden">
</form>
{% else %}
<h1 class="text-success">la orden se creo exitosamente</h1>
{% endif %}

{% if form_errors %}
<h1>Se encontro un error!</h1>
<h2 style="color: red;" >Errores:</h2>
{{form_errors}}
{% endif %}

{% endblock %}